.error-page {
    .error-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 89vh;
        padding-top: 5%;

        h1 {
            font-size: 25rem;
            line-height: .8em;
            z-index: -1;
        }

        p {
            font-size: 20px;
            width: 30%;
            text-align: center;
            letter-spacing: -.5px;
        }
    }
}