.works-display-content {
    padding: 5% 0;
    margin-bottom: 5%;
    .works-all {
        height: 89vh;
        padding: 0 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .title {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 14px;
            opacity: .8;
        }

        .works-display-info {
            flex-basis: 40%;
            padding-top: 7%;
            

            .works-opening {
               
                h3 {
                    font-size: 3rem;
                    letter-spacing: -4px;
                }
            }

            .works-clicks {
                display: flex;
                gap: 30px;
                margin: 20px 0 10px;
                padding-bottom: 10px;
                border-bottom: .5px solid #F5E7D330;

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    opacity: .8;
                    cursor: pointer;

                    &:hover i {
                        transform: rotate(45deg) translateX(3px) translateY(-3px);
                    }

                    p {
                        font-size: 17px;
                        letter-spacing: -.6px;
                        font-weight: 300;
                        
                    }
                    i {
                        transform: rotate(45deg);
                        font-size: 18px;
                        transition: all .5s ease;
                    }
                }
            }
            .works-general {
                // display: flex;
                // justify-content: space-between;
                margin-bottom: 2rem;

                .year-roles {
                    display: flex;
                    justify-content: space-between;

                    .year p:last-child {
                        opacity: .7;
                    }

                    .roles {
                        div {
                            p {
                                text-transform: uppercase;
                                opacity: .7;
                                margin-bottom: 2px;
                                // border: 1px solid var(--detail);
                                // padding: 2px 5px;
                                // width: fit-content;
                                // border-radius: 40px;
                            }
                        }
                        
                    }
                }

                .roles-tools {
                    .title {
                        margin-top: 1.5rem;
                        margin-bottom: 10px;
                    }
                    .tools-content {
                        margin-bottom: 2rem;
                        
                        div {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;
                            margin-bottom: 5px;
                            p {
                                text-transform: uppercase;
                                margin-bottom: 2px;
                                // font-style: italic;
                                opacity: .7;
                                padding: 2px 8px;
                                border: 1px solid var(--detail);
                                border-radius: 30px;
                                font-size: 11px;
                            }
                        }
                    }
                }

                
            }

            .works-desc {
                .works-background {
                    margin-top: 20px;
                }

                p {
                    font-size: 15px;
                }
            }

            .works-links {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                gap: 1rem;
                margin-top: 1.5rem;

                .works-next {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid var(--text);
                    p {
                        text-transform: uppercase;
                        font-size: 11.5px;
                        font-weight: 300;
                        opacity: .7;
                    }

                }
            }
        }

        .works-display-images {
            position: sticky;
            top: 5%;
            .background-img {
                width: 500px;
                height: 700px;
                object-fit: cover;
                border: 1px solid var(--detail);
                border-radius: 250px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 95%;
                    height: 95%;
                    border-radius: 250px;
                }
            }
            .front-img {
                width: 320px;
                height: 420px;
                object-fit: cover;
                position: absolute;
                left: -20%;
                top: 75%;
                transform: translate(-50%, -50%);
                z-index: 10;
                

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}