header {
    width: 100%;
    padding: 10px 60px;
    position: fixed;
    border-bottom: 1px solid #f5e7d334;
    background-color: transparent;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
        h4 {
            font-size: 4rem;
            font-family: 'Garelina', serif;
            font-weight: lighter;
            letter-spacing: -27.5px;
            transition: all .4s ease;

            &:hover {
                letter-spacing: -6px;
            }
        }
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 30px;

        ul {
            display: flex;
            gap: 20px;

            a {
                font-size: 13px;

                li {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 0;
                        height: 1.5px;
                        width: 0%;
                        background-color: var(--text);
                        transition: all .4s ease;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }

        button {
            padding: 7px 16px;
            border-radius: 40px;
            outline: none;
            border: 1.5px solid var(--detail);
            background-color: transparent;
            color: var(--text);
            font-family: 'Montserrat', sans-serif;
            transition: all .4s ease;
            font-weight: 300;
            cursor: pointer;

            &:hover {
                background-color: var(--detail);
                color: var(--background);
            }
        }
    }
}

$xs: 0;
$sm: 480px;
$md: 767px;
$lg: 991px;
$xl-small: 1200px;
$xl-large: 1320px;
$giant: 1920px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .navbar {
    
        .nav-links {
            gap: 30px;
    
            ul {
                gap: 20px;
    
                a {
                    font-size: 11px;
                }
            }
    
            button {
                padding: 7px 15px;
                font-size: 11px;
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .navbar {
    
        .nav-links {
            gap: 30px;
    
            ul {
                gap: 20px;
    
                a {
                    font-size: 12px;
                }
            }
    
            button {
                padding: 7px 15px;
                font-size: 12px;
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .navbar {
    
        .nav-links {
            gap: 30px;
    
            ul {
                gap: 20px;
    
                a {
                    font-size: 12px;
                }
            }
    
            button {
                padding: 7px 15px;
                font-size: 12px;
            }
        }
    }

}
@media screen and (min-width: $lg) and (max-width: $xl-small) {
    .navbar {
    
        .nav-links {
            gap: 30px;
    
            ul {
                gap: 20px;
    
                a {
                    font-size: 12px;
                }
            }
    
            button {
                padding: 7px 15px;
                font-size: 12px;
            }
        }
    }
}
@media screen and (min-width: $xl-small) and (max-width: $xl-large) {
    .navbar {
    
        .nav-links {
            gap: 30px;
    
            ul {
                gap: 20px;
    
                a {
                    font-size: 12px;
                }
            }
    
            button {
                padding: 7px 15px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width: $xl-large) and (max-width: $giant) {
}
@media screen and (min-width: $giant) {    
    .navbar {
    
        .nav-links {
            gap: 40px;
    
            ul {
                gap: 30px;
    
                a {
                    font-size: 16px;
                }
            }
    
            button {
                padding: 7px 20px;
                font-size: 16px;
            }
        }
    }
  
}