.works-render-section {
    margin-top: 2em;
    width: 100vw;
    .selected-works {
        position: relative;
        height: 90vh;
        margin-bottom: 3em;
        display: flex;
        align-items: flex-end;

        &:hover .selected-image {
            transform: scale(0.95);
            border-radius: 50%;
        }

        .works-padding {
            padding: 0 5%; 
            width: 100%;           

            .selected-works-desc {
                display: flex;
                justify-content: right;
                margin-bottom: 1.5rem;
                p {
                    width: 30%;
                    font-weight: 300;
                }
            }
            .selected-year-break {
                display: flex;
                align-items: center;
                gap: 2rem;

                p {
                    font-weight: 400;
                }
    
                .breakline {
                    height: .5px;
                    width: 100%;
                    display: flex;
                    flex: 1;
                    background-color: var(--text);
                    opacity: .7;
                }
            }

            .selected-title {
                display: flex;
                justify-content: right;

                h2 {
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all .5s ease;
                    
                    &:hover {
                        transform: translateX(-5%);
                    }

                    &:hover + .bx {
                        transform: translateX(5%) translateY(-5%);
                    }
                }
                i {
                    transform: rotate(45deg);
                    font-size: 8rem;
                    transition: all .5s ease;
                }

                &:hover i {
                    transform: rotate(45deg) translateX(5%) translateY(-5%);
                }
            }
            
        }

        .selected-image {
            position: absolute;
            z-index: -1;
            top: 0;
            width: 55%;
            height: 80%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all .5s ease;
        }
    }
}

$xs: 0;
$sm: 480px;
$md: 767px;
$lg: 991px;
$xl-small: 1200px;
$xl-large: 1320px;
$giant: 1920px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .works-render-section {
        .selected-works {
            height: 70vh; 
            
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 60%;
                        background-color: #1c1c1c35;
                        backdrop-filter: blur(6px);
                        -webkit-backdrop-filter: blur(6px);
                        padding: 10px 20px;
                        border-radius: 10px;
                    }
                }
    
                .selected-title {
                    gap: 1.5rem;
                    i {
                        font-size: 2rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 100%;
                height: 89%;
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .works-render-section {
        .selected-works {
            height: 70vh;    
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 50%;
                        font-weight: 300;
                        background-color: transparent;
                        backdrop-filter: blur(6px);
                        -webkit-backdrop-filter: blur(6px);
                        padding: 10px 20px;
                        border-radius: 10px;
                    }
                }
    
                .selected-title {
                    gap: 2rem;
                    i {
                        font-size: 4rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 70%;
                height: 85%;
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .works-render-section {
        .selected-works {
            height: 75vh;    
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 30%;
                        font-weight: 300;
                    }
                }
    
                .selected-title {
                    gap: 1rem;
                    i {
                        font-size: 4.5rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 65%;
                height: 80%;
            }
        }
    }

}
@media screen and (min-width: $lg) and (max-width: $xl-small) {
    .works-render-section {
        .selected-works {    
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 30%;
                        font-weight: 300;
                    }
                }
    
                .selected-title {
                    i {
                        font-size: 6rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 60%;
                height: 80%;
            }
        }
    } 
}
@media screen and (min-width: $xl-small) and (max-width: $xl-large) {
    .works-render-section {
        .selected-works {    
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 30%;
                        font-weight: 300;
                    }
                }
    
                .selected-title {
                    i {
                        font-size: 7rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 55%;
                height: 80%;
            }
        }
    } 
}
@media screen and (min-width: $xl-large) and (max-width: $giant) {
}
@media screen and (min-width: $giant) {
    .works-render-section {
        .selected-works {    
            .works-padding {
                padding: 0 5%;            
    
                .selected-works-desc {
                    margin-bottom: 1.5rem;
                    p {
                        width: 30%;
                        font-weight: 300;
                    }
                }
    
                .selected-title {
                    i {
                        font-size: 8.5rem;
                    }
                }
                
            }
    
            .selected-image {
                width: 60%;
                height: 80%;
            }
        }
    }  
}