.works-render-section {
    margin-top: 2em;
    width: 100vw;
    .selected-works {
        position: relative;
        height: 90vh;
        margin-bottom: 3em;
        display: flex;
        align-items: flex-end;

        .works-padding {
            padding: 0 5%; 
            width: 100%;           

            .selected-works-desc {
                display: flex;
                justify-content: right;
                margin-bottom: 1.5rem;
                p {
                    width: 30%;
                    font-weight: 300;
                }
            }
            .selected-year-break {
                display: flex;
                align-items: center;
                gap: 2rem;

                p {
                    font-weight: 400;
                }
    
                .breakline {
                    height: .5px;
                    width: 100%;
                    display: flex;
                    flex: 1;
                    background-color: var(--text);
                    opacity: .7;
                }
            }

            .selected-title {
                display: flex;
                justify-content: right;

                h2 {
                    text-transform: uppercase;
                    cursor: pointer;
                }
                i {
                    transform: rotate(45deg);
                    font-size: 8rem;
                }
            }
            
        }

        .selected-image {
            position: absolute;
            z-index: -1;
            top: 0;
            width: 55%;
            height: 80%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}